*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1320px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}


/* [[[[[[[[[[[[[[[[[[common css]]]]]]]]]]]]]]]]] */



/* [[[[[[[[[[[[[[[[[[Navber start]]]]]]]]]]]]]]]]] */

nav{
    background-color: #FAE3B6;
    padding: 47px 0px;
}

nav .box {
    display: flex;
    align-items: center;
}

nav .box .logo{
    width: 20%;
}


nav .box .menu{
    width: 60%;
}





nav .box ul{
    display: flex;
    list-style-type: none;
    column-gap: 59px;
}

nav .box ul{
    justify-content: center;
}


nav .box ul li a{
    text-decoration: none;
    font-weight: 600;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    color: black;

}


nav .box .btn{
    width: 20%;
    display: flex;
    column-gap: 10px;
    justify-content: right;
}

nav .box .btn a{
    text-decoration: none;
    padding: 10px 15px;
    font-weight: 600;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    color: black;
    background-color: #FDBB57;
    border-radius: 10px;

}






/* [[[[[[[[[[[[[[[[[[Navber  End]]]]]]]]]]]]]]]]] */



/* [[[[[[[[[[[[[[[[[[Banner part start]]]]]]]]]]]]]]]]] */

.banner{
    background-color: #FAE3B6;
    padding-top: 124px;
    padding-bottom: 100px;
}


.banner .box .left h1{
    font-size: 64px;
    color: black;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    width: 546px;


}

.banner .box .left p{
    font-size: 22px;
    color: black;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    width: 534px;
    padding: 38px 0px 76px 0px;

}


.banner .box .left a{
    display:inline;
    padding: 25px 91px;
    background-color: black;
    color: white;
    font-size: 24px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    border-radius: 10px;

}





.banner .box{
    display: flex;
}


.banner .box .left{
    width: 50%;
    
    
}


.banner .box .right{
    width: 50%;

}









/* [[[[[[[[[[[[[[[[[[Banner part End]]]]]]]]]]]]]]]] */